.demo-layout-transparent {
  background: url('https://getmdl.io/assets/demos/transparent.jpg') center / cover;
}
.demo-layout-transparent .mdl-layout__header,
.demo-layout-transparent .mdl-layout__drawer-button {
  /* This background is dark, so we set text to white. Use 87% black instead if
     your background is light. */
  color: white;
}

.mdl-cell {
	background-color: rgba(255,255,255,0.8);
	min-height: 75px;
}

#mytheme .mdl-cell--1-col {
	width: 50%;
}